Hi <%= @to_user.first_name %>,<br/><br/>

<% if @posting.have %>
  <%= @from_user.full_name %>
  would like to
  <%= @posting.for_sale ? 'buy' : 'borrow' %> <%= @posting.description %>
  from you.
<% else %>
  <%= @to_user.full_name %>
  saw you needed
  <%= @posting.description %>
  and would like to help you out.
<% end %>

<% unless @message.blank? %>
  They want you to know that:
  <p><%= @message %></p>
<% end %>

Reply to this message to contact them.<br/><br/>

Sincerely,<br/>
The Shareon.it Team