<%= javascript_include_tag 'application' %>

<%= form_for @user, :remote => true do |f| %>
  <%= f.error_messages %>
  
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="action">
    <%= f.submit "Register", :disable_with => 'Submitting...', :class => 'button' %>
  </div>
<% end %>