<%= javascript_include_tag 'application' %>

<%= form_for @posting, :html => { :multipart => true }, :remote => true do |f| %>
  <%= f.error_messages  %>
  <div class="field">
    <%= f.label (params[:have_need] == 'have' ? 'I have' : 'I need') %><br/>
    <%= f.text_field :description, :placeholder => 'e.g. one ring to rule them all...' %>
  </div>
  <% if params[:have_need] == 'have' %>
    <div class="field">
      <%= f.label :photo %><br/>
      <%= f.file_field :photo %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :price %><br/>
    <%= f.radio_button :free, true %>Free<%= f.radio_button :free, false %>Pay
    <div id="price">
      $<%= f.text_field :price %>
    </div>
  </div>
  <%= f.label 'Post on' %>
  <% current_user.active_communities.each do |community| %>
    <div class ="field">
      <%= check_box_tag "posting[community_ids][]", community.id, 
          (action_name == 'new' ? true : @posting.communities.include?(community)), 
          :id => "community_#{community.id}"
      %>
      <%= community.name %>
    </div>
  <% end %>
  <%= f.hidden_field :have, :value => (params[:have_need] == 'have' ? true : false) %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit 'Post', :class => 'button' %>
  </div>
<% end %>
