<%= javascript_include_tag 'application' %>

<%= form_for @posting, :html => { :multipart => true } do |f| %>
  <%= f.error_messages  %>
  <div class="field">
    <%= f.label (params[:have_need] == 'have' ? 'I have' : 'I need') %><br/>
    <%= f.text_field :description, :placeholder => 'e.g. one ring to rule them all...' %>
  </div>
  <% if params[:have_need] == 'have' %>
    <div class="field">
      <%= f.label :photo %><br/>
      <%= f.file_field :photo %>
    </div>
  <% end %>
  <%= f.hidden_field :have, :value => (params[:have_need] == 'have' ? true : false) %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit 'Post', :class => 'button' %>
  </div>
<% end %>

