<%= javascript_include_tag 'text_hints' %>

<%= form_for @posting, :remote => true do |f| %>
  <% f.error_messages  %>
  <p>
    I
    <% if params[:have_need] == 'have' %>
      can provide
      <%= f.hidden_field :have_need, :value => 'have' %>
    <% else %>
      need
      <%= f.hidden_field :have_need, :value => 'need' %>
    <% end %>
    <% if params[:product_service] == 'product' %>
      <%= f.text_field :name, :title => 'e.g. one ring to rule them all...' %>
      <%= f.hidden_field :product_service, :value => 'product' %>
    <% else %>
      <%= f.text_field :name, :title => 'e.g. nunchuck skillz' %>
      <%= f.hidden_field :product_service, :value => 'service' %>
    <% end %>
    <br/>
    available from <%= f.text_field :from_date, :title => 'click to select date'%>
    to <%= f.text_field :to_date, :title => 'click to select date' %>.
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

