<% content_for :head do %>
  <%= javascript_include_tag 'form', 'text_hints' %>
<% end %>

<%= form_for(@posting) do |f| %>
  <% f.error_messages  %>
  <p>
    I
    <%= f.select :have_need, [['can provide','have'], 'need'] %>
    <% if params[:product_service] == 'product' %>
      <%= f.text_field :name, :title => 'e.g. one ring to rule them all...' %>
      <%= f.hidden_field :product_service, :value => 'product' %>
    <% else %>
      <%= f.text_field :name, :title => 'e.g. nunchuck skillz' %>
      <%= f.hidden_field :product_service, :value => 'service' %>
    <% end %>
    <br/>
    available from <%= f.text_field :from_date, :title => 'click to select date'%>
    to <%= f.text_field :to_date, :title => 'click to select date' %>.
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

