<%= javascript_include_tag application_js_path %>

<%= form_for @posting, :remote => true do |f| %>
  <%= f.error_messages  %>
  <p>
    I
    <% if params[:have_need] == 'have' %>
      have
      <%= f.hidden_field :have_need, :value => 'have' %>
    <% else %>
      need
      <%= f.hidden_field :have_need, :value => 'need' %>
    <% end %>
    <%= f.text_field :description, :placeholder => 'e.g. one ring to rule them all...' %>
  </p>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit 'Post', :class => 'button' %>
  </div>
<% end %>

