<%= javascript_include_tag 'application' %>

<%= form_for @posting, :html => { :multipart => true }, :remote => true do |f| %>
  <%= f.error_messages  %>
  
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, Posting.categories %>
  </div>
  
  <div class="field">
    <%= f.label :description, (params[:have] == '1' ? 'I have' : 'I want') %>
    <%= f.text_area :description, :placeholder => 'e.g. one ring to rule them all...' %>
  </div>
  
  <div class="field">
    <%= f.label :for_sale, 'To' %>
    <%= f.radio_button :for_sale, false %><%= params[:have] == '1' ? 'Lend' : 'Borrow' %>
    <%= f.radio_button :for_sale, true %><%= params[:have] == '1' ? 'Sell' : 'Buy' %>
  </div>
  
  <div class="field">
    <%= f.label :price %>
    <%= f.radio_button :free, true %>Free<%= f.radio_button :free, false %>Pay
    <div id="price">
      $<%= f.text_field :price %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  
  <%= f.label 'Post on' %>
  <% current_user.accepted_communities.each do |community| %>
    <div class ="field">
      <%= check_box_tag "posting[community_ids][]", community.id, 
          (action_name == 'new' ? true : @posting.communities.include?(community)), 
          :id => "community_#{community.id}"
      %>
      <%= community.name %>
    </div>
  <% end %>
  
  <%= f.hidden_field :have, :value => (@posting.have.nil? ? params[:have] : @posting.have) %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="actions">
    <%= f.submit action_name == 'new' ? 'Post' : 'Update', :disable_with => 'Submitting...', :class => 'button' %>
  </div>
<% end %>