<% if action_name == 'requests' %>
  <%= link_to 'Create New Request', new_posting_path(:have => 0), :rel => 'facebox', :class => 'button' %>
<% else %>
  <%= link_to 'Add to Inventory', new_posting_path(:have => 1), :rel => 'facebox', :class => 'button' %>
<% end %>

<div id="search">
  <%= form_tag request.path, :method => :get do %>
    <%= text_field_tag 'search', nil, :placeholder => 'search term here' %>
  <% end %>
</div>

<%= will_paginate @postings %>
<%= render :partial => 'postings/list', :object => @postings, :as => :postings %>
<%= will_paginate @postings %>
