<% content_for :head do %>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag postings_path %>
<% end %>

<h1>Postings</h1>

<div id="search">
  <% form_for :search, @search, :html => {:method => :get} do |f| %>
    <%= f.text_field :name_contains %>
    <%= f.submit 'Search' %>
  <% end %>
</div>

<%= new_posting_link %>

<table id="posting_list">
  <tr>
    <th>Name</th>
    <th>From date</th>
    <th>To date</th>
    <th>User</th>
    <th>Status</th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= link_to posting.name, posting %></td>
    <td><%= posting.from_date %></td>
    <td><%= posting.to_date %></td>
    <td><%= posting.user.full_name %></td>
    <td><%= posting.status %></td>
  </tr>
<% end %>
</table>

