<%= new_posting_link %>

<div id="search">
  <% form_tag request.path, :method => :get do %>
    <%= text_field_tag 'search', nil, :placeholder => 'search term here' %>
  <% end %>
</div>

<%= will_paginate @postings %>

<table id="posting_list">
  <tr>
    <th>Description</th>
    <th>From date</th>
    <th>To date</th>
    <th>User</th>
    <th></th>
  </tr>

<% @postings.each do |posting| %>
  <tr id="posting_<%= posting.id %>">
    <%= raw(posting_table_row(posting)) %>
  </tr>
<% end %>
</table>

<%= will_paginate @postings %>
