<% content_for :head do %>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag postings_path %>
<% end %>

<h1>Postings</h1>

<div id="search">
  <% form_tag request.path, :method => :get do %>
    <%= text_field_tag 'search', nil, :placeholder => 'search term here' %><%= submit_tag 'Search' %>
  <% end %>
</div>

<%= new_posting_link %>

<table id="posting_list">
  <tr>
    <th>Description</th>
    <th>From date</th>
    <th>To date</th>
    <th>User</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= posting.description %></td>
    <td><%= posting.from_date %></td>
    <td><%= posting.to_date %></td>
    <td><%= posting.user.full_name %></td>
    <td><%= posting.status %></td>
    <% if current_user.id == posting.user_id %>
      <td><%= link_to 'Edit', edit_posting_path(posting), :rel => 'facebox' %></td>
    <% else %>
      <td><%= link_to action_name =~ /requests/ ? 'Offer' : 'Borrow', posting, :rel => 'facebox' %></td>
    <% end %>
  </tr>
<% end %>
</table>

