<div class="buttonset">
<% unless action_name == 'requests' %>
  <%= link_to 'I Have', new_posting_path(:have => 1), :rel => 'facebox' %>
<% end %>
<% unless action_name == 'inventory' %>
  <%= link_to 'I Want', new_posting_path(:have => 0), :rel => 'facebox' %>
<% end %>
</div>

<div id="search">
  <%= form_tag request.path, :method => :get do %>
    <%= text_field_tag 'search', nil, :placeholder => 'search term here' %>
  <% end %>
</div>

<%= will_paginate @postings %>
<%= render :partial => 'postings/list', :object => @postings, :as => :postings %>
<%= will_paginate @postings %>
