<% if action_name =~ /product/ %>
  <% prod_serv = 'product' %>
<% else %>
  <% prod_serv = 'service' %>
<% end %>

<% if action_name =~ /inventory/ %>
  <% inv_req = 'inventory' %>
<% else %>
  <% inv_req = 'request' %>
<% end %>

<% content_for :sidenav do %>
  <%= raw(sidenav_content) %>
<% end %>

<% content_for :topnav do %>
  <%= raw(topnav_content) %>
<% end %>

<h1>Listing postings</h1>

<%= link_to 'Create New Posting', new_posting_path(:product_service => prod_serv) %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>From date</th>
    <th>To date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postings.each do |posting| %>
  <tr>
    <td><%= posting.name %></td>
    <td><%= posting.description %></td>
    <td><%= posting.from_date %></td>
    <td><%= posting.to_date %></td>
    <td><%= posting.user.login %></td>
    <td><%= link_to 'Show', posting %></td>
    <td><%= link_to 'Edit', edit_posting_path(posting) %></td>
    <td><%= link_to 'Destroy', posting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

