<%= javascript_include_tag 'application' %>

<div id="posting_info">
  <p>
    <%= @posting.user.full_name %> 
    <%= @posting.have ? 'has' : 'wants' %>
    <%= @posting.description %>
  </p>
</div>

<% if current_user.id == @posting.user_id %>
  <%= link_to 'Edit Posting', edit_posting_path(@posting), :rel => 'facebox', :class => 'button' %>
<% else %>
  <%= form_tag email_posting_path, :remote => true do %>
    <div class="field">
      <%= text_area_tag 'message', nil, :placeholder => 'Enter optional message to user...' %>
    </div>
    
    <% unless @posting.have %>
      <div class="field">
        <%= check_box_tag 'add_to_inventory', true, true %>Add item to active communities?
      </div>
    <% end %>
    
    <div class="action">
      <%= submit_tag @posting.have ? 'Send Request' : 'Send Offer', :class => 'button' %>
    </div>
  <% end %>
<% end %>