<div id="offer_notice"></div>

<p>
  <%= @posting.user.login.capitalize %>
  <%= @posting.have_need == 'have' ? 'has' : 'needs' %>
  <%= @posting.name %>
  <br/>
  from <%= @posting.from_date %> to <%= @posting.to_date %>.
</p>

<% if current_user.id != @posting.user_id %>
  <%= link_to 'Make Offer', new_posting_offer_path(@posting.id), :remote => true %>
  <div id="offer_form"></div>
<% end %>

<%= render :partial => 'offers/list' %>

