<% content_for :head do %>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag posting_path(@posting) %>
<% end %>

<%= back_or_default_link 'Return to postings', postings_path %><br/><br/>

<p>
  <%= @posting.user.full_name %>
  <%= @posting.have_need == 'have' ? 'has' : 'needs' %>
  <%= @posting.name %>
  <br/>
  from <%= @posting.from_date %> to <%= @posting.to_date %>.
</p>

<% if current_user.id != @posting.user_id %>
  <%= link_to 'Make Offer', new_posting_offer_path(@posting), :rel => 'facebox' %>
<% end %>

<%= render :partial => "offers/list" %>

