<%= javascript_include_tag application_js_path %>

<div id="posting_info">
  <p>
    <%= @posting.user.full_name %>
    <%= @posting.have_need == 'have' ? 'has' : 'needs' %>
    <%= @posting.description %>
    <% unless @posting.from_date.blank? and @posting.to_date.blank? %>
      <br/>
      from <%= @posting.from_date %> to <%= @posting.to_date %>
    <% end %>
  </p>
</div>

<% if current_user.id == @posting.user_id %>
  <%= link_to 'Edit Posting', edit_posting_path(@posting), :rel => 'facebox' %>
<% else %>
  <%= form_tag email_posting_path, :remote => true do %>
    <%= text_area_tag 'message', nil, :placeholder => 'Enter optional message to user...' %>
    <% if @posting.have_need == 'need' %>
      <%= check_box_tag 'add_to_inventory' %>Add this item to your inventory?<br/>
    <% end %>
    <%= submit_tag @posting.have_need == 'have' ? 'Send Request' : 'Send Offer', :class => 'button' %>
  <% end %>
<% end %>

<div id="loading"><%= image_tag 'loading.gif' %></div>

