<p>
  <%= @posting.user.login.capitalize %> has a <%= @posting.name %>
  <br/>
  available from <%= @posting.from_date %> to <%= @posting.to_date %>.
</p>

<% if current_user.id != @posting.user_id %>
  <%= link_to 'Make Offer', new_posting_offer_path(@posting.id), :remote => true %>
  <div id="offer_form"></div>
<% end %>

<div id="offer_list"><%= render :partial => 'offers/list' %></div>

