<%= form_for(@community) do |f| %>
  <%= f.errors %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br/>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :emails %><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= text_area_tag 'emails' %>
  </div>
<% end %>
