<%= link_to 'New Community', new_community_path, :class => 'button', :rel => 'facebox' %>

<% unless @invitations.empty? %>
<div id="invitations">
  <h2>Invitations</h2>
  <table id="invitation_list" class="ui-widget ui-widget-content">
    <tr class="ui-widget-header">
      <th>Name</th>
      <th>Description</th>
      <th>Zip Code</th>
      <th></th>
    </tr>

  <% @invitations.each do |invitation| %>
    <%= invitation_table_row(invitation) %>
  <% end %>
  </table>
  <br/>
</div>
<% end %>

<div id="my_communities">
  <h2>My Communites</h2>
  <%= render 'communities/list', :object => @my_communities, :as => :communities %>
</div>

<br/>

<div id="all_communities">
  <h2>All Communities</h2>

  <div id="search">
    <%= form_tag request.path, :method => :get do %>
      <%= text_field_tag 'search', nil, :placeholder => 'search term here' %>
    <% end %>
  </div>

  <%= will_paginate @all_communities %>
  <%= render 'communities/list', :object => @all_communities, :as => :communities %>
  <%= will_paginate @all_communities %>
</div>
