<%= form_for @user_session, :url => login_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field"
    <%= f.check_box :remember_me %> Remember me
  </div>
  <div class="action">
    <%= f.submit "Login", :disable_with => 'Submitting...', :class => 'button' %> or
    <%= link_to "Register", new_user_path, :rel => 'facebox', :class => 'button' %>
  </div>
<% end %>