<%= form_for @user_session, :url => login_path do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field"
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </div>
  <div class="action">
    <%= f.submit "Login", :class => 'button' %> or
    <%= link_to "Register", new_user_path, :rel => 'facebox', :class => 'button' %>
  </div>
<% end %>

