<!DOCTYPE html>
<html>
<head>
  <title>Uswap</title>
  <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <!–[if IE]><%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %><![endif]–>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'application', 'rails' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="logo" class="span-4"><h1>Uswap</h1></div>
    <div id="topnav" class="span-17 last">
      <ul class="nav">
        <%= raw(topnav_content) %>
      </ul>
    </div>
    <div id="login" class="span-2 last"><%= login_link %></div>
    <hr/>
    <div id="sidenav" class="span-2 colborder">
      <ul class="nav">
        <%= raw(sidenav_content) %>
      </ul>
    </div>
    <div id="content" class="span-21 last">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>

