<!DOCTYPE html>
<html>
<head>
  <title>Shareon.it</title>
  <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <!–[if IE]><%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %><![endif]–>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom-theme/jquery-ui-custom.css' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-custom.min', 'facebox', 'rails', application_js_path %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="header_content">
      <%= link_to image_tag('logo.gif'), root_path %>
    </div>
  </div>
  <div id="nav">
    <div id="nav_content">
      <ul id="nav_list">
        <%= raw(navigation_content) %>
      </ul>
      <div id="login"><%= login_link %></div>
    </div>
  </div>
  <div class="container">
    <div id="page" class="span-24 last">
      <div id="content">
        <% if notice %><p id="notice"><%= notice %></p><% end %>
        <%= yield %>  
      </div>
    </div>
    <div id="footer" class="span-24 last">
      <p>
        <%= link_to 'Provide Feedback!', feedback_path, :rel => 'facebox' %><br/>
        Copyright 2011 Green Gorillaz LLC
      </p>
    </div>
  </div>
</body>
</html>

