<!DOCTYPE html>
<html>
<head>
  <title>Shareon.it</title>
  <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <!–[if IE]><%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %><![endif]–>
  <%= stylesheet_link_tag 'facebox', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom-theme/jquery-ui-custom.css' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-custom.min', 'facebox', 'rails', application_js_path %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <div id="logo" class="prepend-2 span-18"><%= link_to image_tag('logo.gif'), root_path %></div>
      <div id="login" class="span-4 last">
        <%= login_link %>
      </div>
    </div>
    <div id="topnav" class="prepend-2 span-22 last">
      <ul class="nav">
        <%= raw(topnav_content) %>
      </ul>
    </div>
    <div id="page" class="span-24 last">
      <div id="sidenav" class="span-2">
        <ul class="nav">
          <%= raw(sidenav_content) %>
        </ul>
      </div>
      <div id="content" class="prepend-1 append-1 span-20 last">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="prepend-2 span-22 last">
      <p>
        <%= link_to 'Provide Feedback!', feedback_path, :rel => 'facebox' %><br/>
        Copyright 2011 Green Gorillas
      </p>
    </div>
  </div>
</body>
</html>

