<!DOCTYPE html>
<html>
<head>
  <title>schwap.it</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
  <!–[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]–>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'application', 'rails' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="logo" class="span-5"><h1>schwap.it</h1></div>
    <div id="topnav" class="span-17 last">
      <ul class="nav">
	      <li><%= link_to 'Products', products_requests_postings_path %></li>
	      <li><%= link_to 'Services', services_requests_postings_path %></li>
	      <li><a href="#">My Stuff</a></li>
      </ul>
    </div>
    <div id="login" class="span-2 last"><%= login_link %></div>
    <hr/>
    <div id="sidenav" class="span-2 colborder">
      <ul class="nav">
        <%= yield :nav %>
      </ul>
    </div>
    <div id="content" class="span-21 last">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>

